<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>First Thymeleaf Page</title>
</head>
<body>

	<div th:insert="~{ thymeleaf/menu :: fragment }"></div>
	
	<!-- Affiche la valeur de message initialisee ds ThymeleafController -->
	<p th:text="${ message }"></p>
	<hr />
	<p th:text="${ message } + ' from Lyon'"></p>
	<hr />
	<p th:text="| ${ message } from Lyon |"></p>
	<hr />
	<p th:text="'Bonjour ' + |${ personne.prenom } ${ personne.nom } |"></p>
	<hr />
	<!-- AFFICHAGE CONDITIONNEL -->
	<div th:if="${ message.length() >= 5 }">
		<p th:text="${ message }"></p>
	</div>
	<hr />
	<p th:text="${ message.length() >= 5 } ? ${ message }"></p>
	<hr />
	<div th:text="${ message.length() <= 15 } ? 'court' : 'long'"></div>
	<hr />
	<!-- Traitement multiples conditions -->
	<div th:switch="${ message.length() }">
		<p th:case="1">Un</p>
		<p th:case="2">Deux</p>
		<p th:case="*">Autre</p>
	</div>
	<hr />
	<!-- Pour faire des iterations -->
	<div th:each="perso : ${ personnes }">
		<span th:text="${ perso.nom }"></span> <span
			th:text="${ perso['prenom'] }"></span>
	</div>
	<hr />
	<div th:each="perso, status : ${ personnes }">
		<span th:text="${ status.index }"></span> <span
			th:text="${ status.count }"></span> <span th:text="${ perso.nom }"></span>
		<span th:text="${ perso['prenom'] }"></span>
	</div>
	<hr />
	<!-- Pour declarer une nouvelle variable -->
	<div th:with="variable=${ message.length() }">
		<p>
			Le message de bienvenue contient <span th:text="${ variable }">
			</span> lettres.
		</p>
	</div>
	<hr />
	

</body>
</html>